body{
    background-color: #2e3035;
    margin:0;
}

#navbar{
    background-image: url('https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png');
    height: 50px;
    background-size: 100%;
    display: flex;
    position: fixed;
    width:100%;
    z-index: 100;
    padding:10px;
}

input:focus{
    outline: none;
}

#memeshow{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  
     /* margin-left:7%; */
   justify-content: center;
}

#memeshow img{
width:220px;
margin:8px;
border-radius: 3px;
/* background: linear-gradient(to right, rgb(105, 216, 202) 0%, rgb(53, 146, 255) 50%, rgb(156, 49, 255) 100%); */
/* border: 3px solid transparent;
border-image: linear-gradient(to right, rgb(105, 216, 202) 0%, rgb(53, 146, 255) 50%, rgb(156, 49, 255) 100%);
border-image-slice: 1; */

}
#toph{
    height:80px;
}
#imgur{
    width:90px;
    height:30px;
    margin: 12px;
  
}

#navbar h3{
    color: #fff;
    font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: large;
    letter-spacing: 1px;
    margin-left:5%;

}

#search{
    width:35%;
    height: 55%;
    margin-top:8px;
    margin-left:10%;
    background: rgba(248, 244, 244, 0.25);
    border: 1px solid transparent;
    text-align: justify;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .4px;
   color:white;
    text-align: center;
  
}

#navbar button{
    background-color: transparent;
    border:none;
    z-index:400;
    margin-left:-35px;
    cursor: pointer;
}

::placeholder{
    color:rgba(248, 244, 244, 0.25);
}

